@font-face {
  font-family: "Helvetica Neue";
  src: url(../fonts/Helvetica/HelveticaNeueUltraLight.ttf) format("truetype");
  font-weight: 100;
}

@font-face {
  font-family: "Helvetica Neue Italic";
  src:  url(../fonts/Helvetica/HelveticaNeueThinItalic.otf) format("opentype");
  font-weight: 300;
}
@font-face {
  font-family: "Helvetica Neue";
  src:  url(../fonts/helvetica/HelveticaNeueThin.otf) format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica Neue Italic";
  src:  url(../fonts/helvetica/HelveticaNeueLightItalic.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src:  url(../fonts/helvetica/HelveticaNeueLight.ttf) format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica Neue";
  src:  url(../fonts/helvetica/HelveticaNeueLight.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica Neue Italic";
  src:  url(../fonts/helvetica/HelveticaNeueBoldItalic.ttf) format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Helvetica Neue";
  src:  url(../fonts/helvetica/HelveticaNeue-Black.otf) format("opentype");
  font-weight: 600;
}

// Variables
@import "variables";

@import '~materialize-css/sass/materialize';

@import 'style';

@import 'animations';
