@media #{$small-and-down} {
	.title-main {
		font-size: 1.4rem !important;
		margin: 0 !important;
    	padding: 5px 0px 15px 0px !important;
	}
	.box-register {
		margin-bottom: 0 !important;
	}
	.title-description-inscription {
		margin: 2em 0 !important;
		font-size: 1.3rem !important;
	}
	.card-title-participate .title {
		font-size: 1.1rem !important;
	}
	.select-rol {
		width: 100% !important;
		line-height: 68px !important;
		height: 68px !important;
		border-radius: 3px !important;
		margin: auto 0 20px auto !important;
		box-shadow: none !important;
		&:hover {
			box-shadow: none !important;
		}
	}
	.button-register {
		&:first-of-type {
			margin-bottom: 10px;
		}
		& .icon-caracter {
			width: 30px !important;
  		height: 30px !important;
  		float: left !important;
	    display: inline-block !important;
	    margin-right: 15px !important;
		}
		& span {
			float: left;
    	line-height: 30px;
		}
	}
	.content-register {
		& img {
			width: 100px !important;
		}
	}
	.write-mode {
		font-size: 1rem !important;
		& #word {
			margin-right: 6px !important;
		}
	}
	.console {
		margin-top: 5em !important;
		& .word-text {
			padding-right: 6px !important;
		}
	}
	.container-content-info {
		font-size: 1.1rem !important;
	}
	.title-section {
		font-size: 1.2rem !important;
		&.special-margin {
	    	margin-bottom: 170px !important;
		}
	}
	.subtitle-section {
		font-size: 1.1rem !important;
	}
	.price-award {
		font-size: 2.3rem !important;
	}
	.container-image-transdigital {
		width: 300px !important;
		margin-bottom: 20px !important;
	}
	.btn-inscription-container {
		margin: 38px 0 !important;
	}
}
@media #{$medium-and-up} {
// styles for medium screens and larger
}
@media #{$medium-and-down} {
	.help-actions {
		display: none !important;
	}
	.console.last {
		display: none !important;
	}
	.title-main {
		font-size: 2rem;
		margin: 1.5em 0 1em 0;
	}
	.title-sub {
		font-size: 1.7rem;
		margin-bottom: 20px;
	}
	.title-section {
		font-size: 1.3rem !important;
		padding: 8px !important;
    &.special-margin {
			margin-bottom: 100px;
		}
	}
	.box-register {
		top: 24px;
	}
	.title-time {
		margin: 2em 0 !important;
    	font-size: 1rem !important;
	}
	section, footer {
		height: auto;
		opacity: 1 !important;
		margin-top: 0 !important;
	}
	.container-objects .object {
		max-width: initial !important;
	}
	.price-award {
		font-size: 2.3rem !important;
	}
}
@media #{$large-and-up} {
	
}
@media #{$extra-large-and-up} {
// styles for extra large screens and up
}
