section {
  color: #c5d6da;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

body {
  background-color: $background-welcome;
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Helvetica Neue", 'Roboto', arial, sans-serif;
}

.title-main {
  margin: 0;
  padding: 1em 0;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.container-algorithm-icon {
  width: 200px;
  margin-top: 1em;
  margin: auto;
}

.st0-solar {
  fill: #c5c5c5;
}

.half-saucer, .dish-outside, .sun {
  transform-origin: 32px 32px;
}

.sun {
  animation: sunAnim 45s linear infinite;
}

.half-saucer {
  animation: rotateHalfSaucer 20s linear infinite;
}

.dish-outside {
  animation: rotateDishOutside 15s linear infinite;
}

.rect-anim-one {
  animation: rectAnimOne 5s linear infinite;
}

.rect-anim-two {
  animation: rectAnimTwo 2s linear infinite;
}

.rect-anim-three {
  animation: rectAnimThree 1s linear infinite alternate;
}

.rect-anim-four {
  animation: rectAnimFour 3s linear infinite;
}

.rect-anim-five {
  animation: rectAnimFive 1s linear infinite alternate;
}

.menu-bar {
  width: 100px;
  position: fixed;
  top: 0;
  right: 0;
  cursor: pointer;
  z-index: 6;
}

.blur {
  filter: blur(10px);
}

#title-section-two {
  opacity: 0;
  color: $background-welcome;
}

.fill-menu-icon {
  fill: #efdab9;
}

.navbar-items {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:center;
  background: #2e2d2d;
  border-bottom: 1px solid rgb(43, 43, 43);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  & .item {
    padding: .5em 1em;
    font-weight: 300;
    text-transform: uppercase;
    color: #a4a4a4;
    cursor: pointer;
    &:hover {
      color: $primary-color;
      &:before {
        content: '';
        border-left: 6px solid;
        padding-left: 7px;
        animation: parpadeoY 1s step-end infinite;
      }
    }
    &.active {
      color: $primary-color;
      &:before {
        content: '';
        border-left-color: $primary-color;
        border-left-style: solid;
        border-left-width: 6px;
        padding-left: 7px;
        animation: parpadeoY 1s step-end infinite;
      }
    }
    &:before {
      content: '';
      border-left-color: transparent;
      border-left-style: solid;
      border-left-width: 6px;
      padding-left: 7px;
    }
  }
}

#home {
  background-repeat: no-repeat;
  background-image: url(../images/teletype.svg);
  background-position: calc(50% + -10px) center;
}

.title-sub {
  font-weight: 100;
  font-size: 2.5rem;
  margin: 0 1em;
  color: #fff;
  & .y-text {
    color: $primary-color;
  }
}

.box-register {
  background: #2e2d2d;
  padding: 1em;
  position: relative;
  &:before {
    content: '';
    width: 100%;
    left: 0;
    position: absolute;
    height: 25px;
    top: -24px;
    background: #222122;
  }
}

.content-register {
  padding: 0 1em;
  text-align: center;
}

.button-register {
  display: inline-block;
  padding: .5em 1em;
  line-height: inherit;
  font-size: inherit;
  font-weight: 500;
  text-decoration: none;
  border-radius: 5px;
  color: $button;
  background-color: #1b1b1b;
  border: 0;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  &:active {
    color: #343233;
    background-color: darken($button, 40);
    transform: translateY(2px);
  }
  &:hover {
    color: #343233;
    background-color: darken($button, 10);
  }
  &:focus {
    background-color: darken($button, 20);
  }
}

.icon-caracter {
  margin: auto;
  width: 40px;
  height: 40px;
  padding: 7px;
  border: 1px solid;
  border-radius: 50%;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
  background: #222122;
}

.description-text {
  margin: 0 0 1em 0;
  text-align: left;
  font-size: 1.2rem;
}

.fill-caracter-icon {
  fill: $button
}

.container-judges {
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  justify-content:space-between;
  & .judge {
    display: inline-block;
    position: relative;
    padding: 0 1em 1em 1em;
    background: #222122;
    border-radius: 0 0 5px 5px;
    text-align: center;
    &:before {
      content: attr(data-name);
      position: absolute;
      text-align: center;
      width: 100%;
      height: 25px;
      top: -25px;
      left: 0;
      background: #222122;
      border-radius: 5px 5px 0 0;
    }
  }
  & img {
    width: 150px;
    max-width: 150px;
    border-radius: 50%;
  }
}